.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: $primary-color;

  &-logo {
    color: $secondary-color;
    font-size: 1.5rem;
  }

  &-menu {
    display: flex;
    flex-flow: row wrap;
    float: left;
    overflow: hidden;
  }

  &-links {
    padding: 10px;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
    color: $secondary-color;
    font-weight: 300;
    list-style: none;
    text-decoration: none;
  }
}

.menu-btn {
  position: absolute;
  z-index: 3;
  left: 35px;
  top: 35px;
  cursor: pointer;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: $secondary-color;
  }
}

header {
  position: fixed;
  width: 100%;
}
