@import "config";
@import "nav";

h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;

  &.about-title {
    width: 700px;
    font-size: 2rem;
    font-weight: 350;
    text-align: center;
    color: lighten($shade-color, 50);
  }

  &.dev-title {
    font-weight: 350;
    font-size: 1.8rem;
    border-bottom: black 5px solid;
    padding-bottom: 0.5rem;
  }
  &.lg-heading {
    font-size: 4rem;
    text-align: center;
  }

  &.lg-heading-home {
    font-size: 4rem;
    text-align: center;
  }
  &.sm-heading {
    position: absolute;
    left: 250px;
    top: 160px;
    padding: 0.2rem 4rem;
    // background: rgba(lighten($shade-color, 2), 0.3);
    display: inline;
  }
  &.sm-heading-2 {
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: 350;
    font-size: 35px;
    text-align: center;
    margin-bottom: 0rem;
    padding: 0.2rem 1rem;
    //background: rgba(lighten($shade-color, 2), 0.5);
  }
  &.sm-head-child {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($shade-color, 2), 0.5);
  }

  &.center {
    text-align: center;
  }

  &.float-left {
    float: left;
  }

  &.float-right {
    float: right;
  }

  &.code-header {
    //display: flex;
    // /padding: 0.2rem 3rem;
    text-align: center;
    border: 0;
    // margin: 0.2rem, 1rem;
    background: lighten($shade-color, 50);
    color: #fff;
    text-decoration: none;
    font-size: 36px;
    font-weight: 300;
    font-size: 2rem;
    margin-top: 0;
  }
}

.text-secondary {
  padding: 0.5rem;
  font-size: 50px;
  font-weight: 500;
  color: $secondary-color;
  background: $primary-color;
}

.sm-child-heading {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.logo {
  color: $secondary-color;
  font-size: 40px;
  padding: 0;
  margin: 0;
}

//main

main {
  padding: 0rem;
  min-height: calc(100vh - 60px);

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 15vh;
    }
  }

  &#about {
    overflow: hidden;
    padding: 0 10vh;
    h1 {
      margin-top: 14vh;
    }
  }

  &#code {
    padding: 0rem;
    overflow: hidden;
  }

  &#contact {
    overflow: hidden;
    padding: 0rem;
    h1 {
      margin-top: 14vh;
    }
  }
}

// Home Page

.home-top {
  padding: 4rem;
}

.handle {
  position: absolute;
  width: 100%;
  display: block;
  background-color: rgba(lighten($shade-color, 2), 0.2);
  height: 1px;
}
.home-bottom {
  padding: 6em 20%;
  background: whitesmoke;
  height: 60vh;
}
.fab-icons {
  color: $primary-color;
  padding: 1rem;
}

.fab-icons-btn {
  color: $secondary-color;
  padding: 0rem;
}

#content-detail {
  background: transparent;
  font-size: 100%;
  vertical-align: bottom;

  .header-center {
    height: 1px;
    background: #ddd;
    border-bottom: #fff solid 1px;
    margin-bottom: 30px;
    position: relative;

    h3 {
      background: whitesmoke;
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -150px;
      width: 300px;
      text-align: center;
      display: block;
      color: #666666;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 1px;
      padding: 0px;
    }
  }

  .thumbs {
    list-style: none;
    position: relative;
    padding: 0;

    &:hover .clear {
      opacity: 0.2;
      @include easeOut;
    }

    .clear:hover {
      opacity: 1;
    }

    li {
      width: 30%;
      float: left;
      background: #fff;
      margin: 0 1.3% 2% 0;
      padding: 1%;
      border: 0;
      border-radius: 5px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
      a {
        text-decoration: none;
        display: block;
        position: relative;
        color: #333333;

        img {
          max-width: 265px;
          position: relative;
          background-clip: padding-box;
          margin-left: 3px;
          border-radius: 3px;
        }
      }

      .description {
        position: relative;
        overflow: hidden;
        h4 {
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.2em;
        }
        p {
          display: block;
          margin: 0;
          font-size: 1rem;
          color: #666666;
          line-height: 1.2em;
          padding-top: 0.3em;
          height: 1.3em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

//About Page
.about-me {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "portrait-image  history history history"
    "dev1 dev2 dev3 dev4";
  grid-template-columns: repeat(4, 1fr);

  .portrait-image {
    grid-area: portrait-image;
    margin: auto;
    border-radius: 50%;
    border: $primary-color 3px solid;
    background-size: contain;
    height: 180px;
    width: 180px;
  }
  .history {
    grid-area: history;
    .about-info {
      width: 700px;
      font-size: 1.4rem;
      font-weight: 450;
      //text-align: center;
      color: lighten($shade-color, 50);
    }
  }

  .dev-1 {
    grid-area: dev1;
  }
  .dev-2 {
    grid-area: dev2;
  }
  .dev-3 {
    grid-area: dev3;
  }
  .dev-4 {
    grid-area: dev4;
  }
  .dev-light {
    padding: 0.2rem;
    .dev-info {
      height: 25vh;
      font-weight: 350;
      color: lighten($shade-color, 20);
    }

    .dev-icons {
      font-size: 3.5rem;
      padding: 0.5rem;
    }
    .dev-icon {
      font-size: 3.5rem;
    }
    .dev-logo {
      height: 58px;
      padding-left: 15px;
    }

    .dev-exp {
      border-top: 1px black solid;
      font-size: 1rem;
    }
  }

  .dev-dark {
    color: $secondary-color;
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    background: lighten($shade-color, 5);
  }
}

//Code Page

//Contact page
.boxes {
  align-items: center;
  margin: 30vh 20vh 20vh 20vh;
  div {
    font-size: 1.6rem;
    font-weight: 350;
    padding: 1rem 2rem;
  }
}

.contact-body {
  &.left {
    width: 53%;
    float: left;
  }
  &.right {
    width: 47%;
    background: rgba($primary-color, $background-opacity);
    float: right;
  }
}

.group-wrap {
  margin: 30vh 20vh 20vh 20vh;

  h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .form-outer {
    margin-bottom: 10px;

    ::placeholder {
      color: #fff;
      opacity: 1;
    }

    input {
      width: 100%;
      font-size: 16px;
      line-height: 1.63em;
      border: #fff 1px solid;
      padding: 16px 19px;
      color: #fff;
      background: rgba(255, 255, 255, 0);
    }

    textarea {
      height: 20vh;
      width: 100%;
      font-size: 16px;
      line-height: 1.63em;
      border: #fff 1px solid;
      padding: 16px 19px;
      color: #fff;
      background: rgba(255, 255, 255, 0);
    }
  }

  .btn-submit {
    .contact-button {
      .contact-submit {
        padding: 18px 35px;
        span {
          font-size: 16px;
        }
      }
    }
  }
}

#main-footer {
  text-align: center;
  padding: 0.5rem;
  background: lighten($primary-color, 10);
  color: $secondary-color;
  height: 60px;

  .footer-title {
    font-weight: 700;
    display: block;
    font-size: 1.5rem;
  }
}
